html {
  background-color:#ffffff; 
   background-image:url('../images/bgrnd.png');
 }

body { 
  /*font-size: 87.5%;*/
  font-family: Arial, 'Lucida Sans Unicode';
  line-height: 1.5;
  text-align: left;
}

.body
{
  margin: 0 auto;
  width:100%; 
  clear: both; 

}


a{
  text-decoration:none;
}

a:hover, a:active{
}
a:link, a:visited{
}
p,td
{
/*font-size:115%;*/
}
h1 
{
font-size:180%;
}
h2,h3 
{
color:DarkBlue;
}
.mainHeader{
 
  background-color:#fff;
  margin: 1% 0 0 0;
}

.mainHeader img{
  /*width: 30%;*/
  height: auto;
}
#header_logo
{
display:inline-block;
background: url("../images/logo_tagline.png") center center  no-repeat;
}
.mainHeader nav{
  background-color: #616C6e;
  height: 40px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
    float: left;
width: 100%;
}

.mainHeader nav ul{
  list-style:none;
  margin: 0 auto;
}

.mainHeader nav ul li{
  float: left;
  display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited{
  color: #FFF;
  display: inline-block;
  padding: 10px 25px;
  height: 20px;
}

.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainheader nav .active a:visited{
  background-color: #999;
  text-shadow: none;
}

.mainHeader nav ul li a{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}  

.mainContent{

  /*overflow: hidden;*/
  background-color: #fff;
    border-left-style:solid;
    border-right-style:solid;
border-color:#bac5cb
}
  
.content{
  width:98%;
  float:left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-top:1px;
  padding:1%;
}
#byThisAuthor{
width:99%;
height:auto;
}
.byThisAuthor{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
	/*background-color: #ddd;*/
	padding: 5px 0px 5px 5px;
	display: inline-block;
	width: 12%;
	float:left;
	overflow:hidden;
}  
.byThisAuthor img{
width:98%;
margin: 0 1%;
}
.byThisAuthor header{
	color: #111;
	font-size:75%;
	text-align:middle;
}

.byThisAuthor header img{
	width:32px;
	height:32px;
}

.gallery
{
	width: 92%;
	height: auto;
	margin: 1% 1% 2% 1%;
	padding: 2%;
	background-color: #ddd;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.gallery p{
	font-style: italic;
	color: #999;
	font-size:65%;
}
.gallerymore  img, .galleryless img{
	width:32px;
	height:16px;
}
.gallerymore, .galleryless {
display: inline-block; 
vertical-align: middle ;
padding-top:1px;
width:30%;
padding: 0 35%;
}


.videocontainer{
  background-color: #ddd;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-left:1px;
  padding:6px;
  width:65%;
  float:left;
  margin: 0% 0% 0% 1%;
}

.videoplayer {
width:85%;
}

.attribution{
height:50px;
width:100%;
 background-color: #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  vertical-align:middle;
}
.attribution p
{
margin:0;
padding:0;
}

.mainVideo{
  width: 90%   ;
  height: 90%   ; 
  margin: 5px;
}

.addthis{
padding:1%;
float:left;
}

.wordPanel{
float:right;
width:10%;
}

.vid_image
{
  width:90%;
  height:auto;
}
.top-side {
  width: 16%;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 1% 1% 1% 1%;
}
.top-middle-side {
  width: 16%;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 0.5% 1%;
}

.top-side img{
  width: auto;
  height: auto;
  margin: 0 0;
}

.middle-side {
  width:16%;
  float: left;
  border-width:1px;
  border-style:solid;
  border-color:#666;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  padding: 0;
  color: black;
}
.middle-side a{
font-size: small;
color: black;
}
.middle-side ul{
padding-left:1%;
}
.middle-side header{
font-size: medium;
color: black;
text-align: center;
}
.middle-side li{
list-style:none;
padding-left:10px;
}

.ads{
  width:16%;
  float: left;
  margin-left: 1%;
  padding: 0;
  color: black;
}

.belowthefold{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
	background-color: #ddd;
	padding: 5px 0 5px 5px;
	display: inline-block;
	width: 98%;
	margin: 1%;
}

.mainGallery{
	width: 18%;
	height: auto;
	margin: 0 1px 1px 1px;
	padding: 1px;
	display:inline-block;
}

.mainGallery p{
	font-style: italic;
	color: #999;
	font-size:85%;
}
.gallerymoreMain{
display: inline-block; 
vertical-align: middle ;
padding-top:1px;
width:40%;
padding: 0 30%;
}

.mostRecent{
width:100%;
display: inline-block;
position:relative;
}

.mostRecent header{
vertical-align:center;
}



.mostRecentImg{
	width:32px;
	height:32px;
}

button.pageButton { background:none;border:none; }

.mainFooter{
  width:100%;
  height: 40px;
  float: left;
  background-color: #666;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 0% 0% 2% 0%;
}

.mainFooter p{
  width: 92%;
  margin: 10px auto;
  color: #fff;
  padding-left: 1%;
}

/* Competition page*/
#comp_banner {
  margin:10px;
  width: 90%;
  height: 90px; 
  background: url("../images/iptbala.png") center center  no-repeat;
  background-size:85%;
}

#comp_head {
  width: 100%;
  height: 240px;
  background: url("../images/comp_banner_background.png") repeat-x;
}
#headerpanel
{
width:100%;
float:left;
background-color:white;
}
#headerlogo
{
width:auto;
float:left;
background-color:white;
}
.tagline
{
float:left;
font-style:italic;
color:darkblue;
vertical-align:text-bottom;
}
.logo
{
/*float:left;*/
}
#banner
{
height:90px;
width:100%;
}
.icon
{
float:left;
height: 100px;
width:100px;
margin:5px 25px;
clear:both;
}
.iconblock
{
float:left;
height: auto;
width:9%;
margin:1% 2%;
padding:1%;
clear:both;
}
 em{
 font-size:14px;}
 
.halfblock
{
display: block;
height: 140px;
/*border:2px solid #a1a1a1;
background:#FFF5E6;*/
padding:10px 10px; 
width:48%;
border-radius:25px;
margin:2px;
}

.tallhalfblock
{
display: block;
height: 280px;
/*border:2px solid #a1a1a1;
background:#FFF5E6;*/
padding:10px 10px; 
width:48%;
border-radius:25px;
margin:2px;
}
.vidblock
{
display: block;
height: auto;
/*border:2px solid #a1a1a1;
background:#FFF5E6;*/
padding:1% 1%; 
width:98%;
border-radius:25px;
margin:2px;
float:left;
}

.shortwideblock
{
display: block;
height: auto;
border:2px solid #a1a1a1;
background:#FFF5E6;
padding:5px 20px; 
width:95%;
border-radius:25px;
margin:2px;
float:left;
}
.blankwideblock
{
display: block;
height: auto;
border:2px solid #a1a1a1;
/*background:#FFF5E6;*/
padding:5px 20px; 
width:95%;
border-radius:25px;
margin:2px;
float: left;
}


.submissionblock
{
display: block;
height: auto;
border:2px solid #a1a1a1;
padding:10px 30px; 
background:#FFF5E6;
width:830px;
border-radius:25px;
margin:2px;
}

.block
{
display: block;
border:2px solid #a1a1a1;
background:#FFF5E6;
padding:1% 1%; 
width:98%;
border-radius:25px;
margin:2px;
}
.block_text
{
width:88%;
float: left;
}
#comp_text
{
float: left;
width: 63%;
margin-right:40px;

}
#comp_video
{
float: left;
margin-right:2px;
width: 30%;

}

.example_video
{
float: left;
width:30%;
}

 select1 {
        width:350px;
    }
div {

  margin: 0 auto;
  padding: 0;
  border: none;
  display: block;
}
.tableRowStyle1
{
background-color: bisque;
}
.tableRowStyle2
{
background-color: white;
}
.WantedWordGroup {
font-weight: bold;
width:20%;
}
.WantedWordPhrase {
width:30%;
}
.WantedWordComments {
width:40%;
}

#phraselist
{
background-color: white;
padding:2px;
}

.bold{
font-weight:bold;
}
.highlight_text
{
font-size:130%;
color:red;
}
.inlineimg
{
vertical-align: middle;
}

.submission_error
{
color:red;
}
.wordlisttable ,th,td
{
border:1px solid black;
}

.wordlisttable
{
width:98%;
margin-left:2%;
}
#pointsList { 
width:20px; 
} 
#pointsList option { 
width:20px; 
}
/*end of competition page*/


/* nice button styling*/


.cssbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:13px;
	font-weight:normal;
	padding:2px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.cssbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.cssbutton:active {
	position:relative;
	top:1px;
}


.grey-out {
	/*height: 100%;*/
	width:100%;
    background-color: gray;
    opacity: .3;
}

/*end of button styles*/


/*smaller screen styles*/

@media only screen and (min-width:150px) and (max-width: 700px)
{

.body
{
  width:95%; 
  font-size: 95%;
}

.mainHeader img{
  width: 100%;
  min-height:60px;
  margin:1px;
}

.mainHeader nav{
  height: 200px;

}

.mainHeader nav ul{
  padding-left: 0;
}

.mainHeader nav ul li{
  width: 100%;
  text-align: center;
}

.mainHeader nav a:link, .mainHeader nav a:visited{
  display: block;
}



.videoplayer {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width:100%;
}

.videocontainer{
width:100%;
}
.content{
  width:100%;
  margin-top:2%;
}
  
.top-side{
  width:94%;
  margin-left: 0;
}

.middle-side{
  width:94%;
  margin-left: 0;
}

.byThisAuthor
{
	display:none;
	width: 100%;

}

.mainGallery{
width: 100%;
}

#comp_video
{
float: left;
width:98%;
margin-right:2px;
}
#headerlogo 
{

}

#comp_text
{
float: left;
width: 98%;
margin-right:40px;
/*font-size:large;*/
}
.block_text
{
width:95%;
float:left;
}

.example_video
{
float: left;
width:90%;
}
.shortwideblock
{
display: block;
height: auto;
border:2px solid #a1a1a1;
background:#FFF5E6;
padding:5px 5px; 
width:95%;
border-radius:25px;
margin:2px;
}

.blankwideblock
{
display: block;
height: auto;
border:2px solid #a1a1a1;
/*background:#FFF5E6;*/
padding:5px 5px; 
width:95%;
border-radius:25px;
margin:2px;
}
.wordlisttable
{
width:99%;
margin-left:1%;
}
}  /*end of max-width 600px*/


	



