/* CSS File */

html {

  height: 100%;

}

body {

  width: 951px;

  margin: 0 auto;

  padding: 0;

  font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;

  font-size: 12px;

  background: #7eb8e5;

  color: #000;

}

div {

  margin: 0 auto;

  padding: 0;

  border: none;

  display: block;

  float: left;

}

table {

  /**float: left;   **/

  /*display: block; */

  width: 100%;

} 

p {

  color: #000;

  line-height: 18px;

  display: block;

}

h1 {

  font-size: 24px;

  font-weight: 400;

  color: #1e3ca1;

  text-align: center;

}

h2 {text-align: center;}

h1 .highlight{

  color: #1e3ca1;

}

h2 {

  font-size: 16px;

  font-weight: 400;

  color: #1e3ca1;

}

h3 {

  font-size: 13px;

  font-weight: 700;

  color: #1e3ca1;

}  

input {

  font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;

  font-size: 12px;

  margin: 0;

}

select {

  font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;

  font-size: 12px;

}

textarea {

  font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;

  font-size: 12px;

}

td {

  color: #000;

  line-height: 18px;

}

em

{font-weight: bold;

}

img {

  border: 0;

  margin: 0;

  padding: 0;

  display: block;

}

.b {

  font-weight: bold;

}

.i {

  font-style: italic; 

}

.red {

  color:#f00;

}

.white {

  color:#fff;

}

.price {

  font-size: 24px;

}

.blue{

color:#1e3ca1;

}

.req_field {

  color:#f00;

}

form {

  margin: 0;

  padding: 0;

  border: 0;

}

object {

  margin: 0;

  padding: 0;

  border: 0;

}

.required {

  color: #f00;

}

.list_head {

  color: #1e3ca1;

  text-align:right;

  font-size: 24px;

}

div #container {

  width: 951px;

}

div #shell {

  width: 947px;

  padding-left: 4px;

  background: url('../images/template/site_background.gif') repeat-y;

}

div #shell_inner {

  width: 943px;

}



/* Layout */

div #top_bar {

  width: 943px;

  height: 30px;

  background: url('../images/template/top_bar.gif') repeat-x;

}

div #top_bar a {

  color: #fff;

  text-decoration: underline;

}

div #auxiliary {

  float: right;

}

div #contact_icon {

  height: 23px;

  background: url('../images/icons/contact_bubble.gif') 0 7px no-repeat;

  padding-left: 22px;

  padding-right: 22px;

  padding-top: 7px;

}

div #sitemap_icon {

  height: 23px;

  background: url('../images/icons/site_map.gif') 0 7px no-repeat;

  padding-left: 22px;

  padding-right: 22px;

  padding-top: 7px;

}

div #search_box {

  height: 27px;

  background: url('../images/icons/search_glass.gif') 0 9px no-repeat;

  padding-left: 22px;

  padding-right: 5px;

  padding-top: 3px;

}

.search_text {

  width: 148px;

  height: 15px;

  border-top: 1px solid #898b8d;

  border-left: 1px solid #aeafb0;

  border-right: 1px solid #aeafb0;

  border-bottom: 1px solid #949595;

}

div #header_container {

  width: 943px; 

  height: 70px; 

  /*height: 116px;  */

   background: url('../images/template/header_background.gif');  repeat-x; 



}

div #header_logo {

  /*width: 911px;*/

  width: 380px;

  /*height: 68px;*/

  height: 45px;

  /*padding-top: 18px;   */

  padding-top: 8px;

  padding-left: 22px;

    float: left;

  



}

div #logo_bubble {

  width: 55px;

  /*height: 54px;  */

  height: 55px;

  background: url('../images/template/logo_bubble.gif') no-repeat;

  float: left;



}

div #logo_type {

  width: 284px;

  /*height: 34px;  */

  height: 34px; 

  padding-top: 30px;

  padding-left: 5px;

  background: url('../images/template/logo_text.gif') 10px 10px no-repeat;

  background-position:right;

  float: right;

  margin-right: 20px;



}

div #top_menu {

  /*width: 943px; */

  /*width: 443px;*/
  width: 500px;

  height: 40px;

  float: right;

  padding-top: 40px;



}

div #top_menu ul {

  margin: 0;

  padding: 0 0 0 10px;

  list-style: none;

  height: 40px;

  float: right; 

}

div #top_menu ul li {

  display: inline;

  margin: 0;

  padding: 0;

  height: 30px;

}

div #top_menu a {

  float: left;

  background: url("../images/template/inactive_tab_left.gif") no-repeat;

  margin: 0;

  padding: 0 10px 0 3px;

  text-decoration: none;

}

div #top_menu a span {

  float: left;

  display: block;

  height: 30px;

  background: url("../images/template/inactive_tab_right.gif") right top no-repeat;

  padding: 9px 15px 4px 12px;

  color: #000;

  cursor: pointer;

}


/* Commented Backslash Hack hides rule from IE5-Mac \*/

div #top_menu a span { float: none; }

/* End IE5-Mac hack */

div #top_menu a:hover span {

  color: #000;

}

div #top_menu a:hover {

  background: url("../images/template/active_tab_left.gif") no-repeat;

}

div #top_menu a:hover span {

  background: url("../images/template/active_tab_right.gif") right top no-repeat;

}

div #banner {

  width: 943px;

  height: 100px;

  background: url("../images/template/banner_background.gif") repeat-x;

}

div #banner_image {

  width: 649px;

  height: 100px;

  padding-left: 147px;

  background: url("../images/template/banner_image2.jpg") 147px 0 no-repeat;

}

div #banner_shadow {

  width: 943px;

  height: 3px;

  font-size: 1px;

  line-height: 1px;

  background: url("../images/template/banner_shadow.gif") no-repeat;

}

div #content_container {

  width: 943px;

  /*background: url("../images/template/bgrnd.png") repeat-y;*/

}
div #content_container_wide {

  width: 943px;
   background: url('../images/template/wood.jpg') repeat-y;
}


div #content_main {

  width: 465px;

  padding: 5px 30px;

}

div #content_main a {

  color: #00A;

  text-decoration: underline;

}

div #content_main a:hover {

  color: #008;

  text-decoration: underline;

}

div #right_column {

  width: 222px;

  padding: 10px 0;

}

div #footer_container {

  width: 943px;

  height: 58px;

  padding-top: 37px;

  background: url("../images/template/footer_background.gif") repeat-x;

}

div #footer_content {

  width: 943px;

  padding-top: 8px;

  background: url("../images/template/footer_line.gif") center top no-repeat;

  text-align: center;

}

div #footer_content a {

  color: #fff;

  text-decoration: none;

  font-weight: bold;

}

div #footer_content ul {

  list-style: none;

  margin: 0;

  padding: 0;

  width: 943px;

}

div #footer_content ul li {

  list-style: none;

  margin: 0;

  padding: 0;

  display: inline;

  padding: 0 10px;

}

div #footer_copyright {

  width: 943px;

  padding-top: 6px;

  color: #fff;

  text-align: center;

}

div .voucher {

  width: 200px;

  height: 71px;

  padding-bottom: 12px;

  padding-top: 2px;

  padding-right: 17px;

  padding-left: 5px;

  background: url("../images/template/voucher.gif") no-repeat;

}

div .voucher a, div .voucher a:hover {

  color: #fff;

  text-decoration: none;

  font-family: Arial, Helvetica, sans-serif;

}

div .voucher_line1 {

  width: 200px;

  font-size: 15px;

  text-align: center;

}

div .voucher_line2 {

  width: 200px;

  font-size: 22px;

  text-align: center;

}

div .voucher_line3 {

  width: 220px;

  font-size: 15px;

  text-align: left;

}

div .featured_cta {

  width: 210px;

  padding-bottom: 12px;

  padding-right: 12px;

}

div .affiliate_banner {

    text-align:center;

    display:block;

}

div .featured_cta_header {

  width: 203px;

  padding-left: 7px;

  height: 24px;

  line-height: 24px;

  vertical-align: middle;

  font-weight: 700;

  background: url("../images/template/cta_header.gif") repeat-x;

}

div .featured_cta_image {

  width: 210px;

  height: 93px;

}

div .featured_cta_content {

  width: 210px;

  height: 87px;

  background: url("../images/template/cta_text_background.gif") repeat-x;

}

div .featured_cta_text {

  width: 196px;

  padding: 7px 7px 4px 7px;

  line-height: 140%;

}

div .featured_cta_button {

  width: 196px;

  padding-left: 7px;

  padding-right: 7px;

  line-height: 19px;

  height: 19px;

  vertical-align: middle;

  text-align: right;

  font-weight: 700;

}

div .menu_section {

  width: 176px;

  padding-bottom: 20px;

}

div .menu_section a {

  color: #000;

  font-weight: 700;

  text-decoration: none;

}

div .menu_section_header {

  width: 176px;

  height: 38px;

}

div .menu_section_content {

  width: 156px;

  padding-left: 20px;

  padding-top: 7px;

}

div .menu_section_icon {

  width: 26px;

  height: 32px;

  line-height: 24px;

  vertical-align: middle;

}

div .menu_section_text {

  width: 130px;

  height: 32px;

  line-height: 24px;

  vertical-align: middle;

}

/** Tables **/

.table_width {

  width: 460px;

  border: 0;

  padding: 0;

  margin: 0;

}

.PodcastTableHeader {

  font-weight: 550;

  background: #CC9;

}



.highlightTableRow{

  background: #F5F5DC;

  width:460px;



}

.tableheader{

  background: #DEB887;

}

.tabledividerRow{

background: #DEB887;

}

.resulttableshow{

width: auto;

display: block;

}

.resulttablehide{

width: auto;

display: none;

}

.HideError{
display: none;
}
.ShowError{
color:red;
display: block;
}
.HistoricalPodcastTableRow{

  background: #E8E8E9;

}

.PodcastTableCell{width:auto;}

/** Albums **/

div #albums_container {

  width: 462px;

  border: 1px solid #00A;

  background: #E8E8E8;

  padding-left: 1px;

  padding-top: 1px;

  padding-bottom: 1px;

}

div #albums_container1 {

  width: 462px;

  border: 1px solid #00A;

  background: #E8E8E8;

  padding-left: 1px;

  padding-top: 1px;

  padding-bottom: 1px;

  }

div .album_separator {

  width: 461px;

  height: 18px;

  background: #FFFFFF;

  border-top: 1px dotted #00A;

  border-bottom: 1px dotted #00A;

}

div .album {

  /*width: 461px;*/

  width:100%;

  /* background: #9ed8f5;*/

  background: #E8E8E8;

}

div .album_sample {

  width: 451px;

  background: #B7D8F5;

  padding: 5px;

}

div .album2 {

  width: 461px;

  background: #def8f5;

}

div .album_image {

  /*width: 165px; */

  padding: 5px;

  float: left;

 

}

.albumtable

{

/*width:461px; */

width:100%;

padding-left:12%;

padding-right:12%;

}



div .album_details {

  width: 320px;

  padding: 5px 5px 5px 5px; 

  float: right;

}

div .album_price {

  width: 450px;

  /* border-top: 1px solid #fff;*/

  padding: 5px;

  height:65px;

}

div .album_displayprice {

  width: 87px;

  text-align: right;

  font-size: 15px;

  font-weight: 700;

  padding-top: 3px;

}

div .album_purchase {

  /*width: 87px;*/

  float: right;                         

}

div .album_wordlist {

  width: 247px;

  text-align: center;

  vertical-align: middle;

  padding-top: 13px;

}

.searchBox{

  background-image:url('images/rss.gif');

  background-repeat:no-repeat;

  height:16px;

  padding-left:20px;

}
/*competition pages*/

.comp_row_1
{
height:530px;
width:98%;
margin:2px;
margin-bottom:15px;
display:block;
}
.comp_row_23
{
height:350px;
width:98%;
margin:2px;
display:block;
}
.comp_row_featured
{
height:380px;
width:98%;
margin:2px;
display:block;
}
.video_container
{
height:200px;
}
.comp_col_1
{
  display: inline-block;
width:60%;
height:98%;
margin-left:15%;
margin-right:15%;
}
.comp_col_23
{

width:35%;
height:98%;
margin-left:7%;
margin-right:7%;
}
.comp_col_featured
{
display:block;
width:25%;
height:98%;
margin-left:3%;
margin-right:3%;
}
.rosette
{
position:relative;
top:-210px;
left:220px ;
}

div #comp_body{
margin-left: 5px;
margin-right: 5px;
padding:15px;
width:903px;
 background: url('../images/template/bgrnd.png') repeat;
 height: auto;
}
.hr{
width:903px;
height:3px;
 background: url('../images/template/hr.png') repeat-x;
 margin-bottom:10px;
 }
 .hr0{
width:903px;
height:3px;
 
 margin-bottom:10px;
 }
div #comp_banner {

  margin-top:10px;
  width: 943px;

  height: 240px; 

  background: url("../images/template/comp_banner.png") center top  no-repeat;
 

}
div #comp_head {

  width: 943px;

  height: 240px;

  background: url("../images/template/comp_banner_background.png") repeat-x;

}

div #comp_buttons
{
position:relative;
height:35px;
bottom:45px;
padding-left:20px;
margin-bottom:3px;
}
div #social_buttons
{



height:35px;
bottom:2px;
/*bottom:45px;
margin-bottom:3px;
display:block;
position:relative;*/
float: right;
width: 250px;
clear:both;

float:right;
}

div #content_main_wide {

  /*width: 900px;*/
}
div #side_menu {

  width: 186px;

  background: url("../images/template/menu_background.gif") repeat-x;

  padding-bottom: 130px;

  padding-top: 3px;

  padding-left: 10px;

}


/*competition button stuff*/

.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

a.button {
    background: transparent url('../images/bg_button_a.png') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('../images/bg_button_span.png') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

.icon
{
float:left;
height: 100px;
width:100px;
margin:5px 25px;
clear:both;
}
 em{
 font-size:14px;}
.halfblock
{
display: block;
height: 140px;
border:2px solid #a1a1a1;
padding:10px 10px; 
background:#FFF5E6;
width:420px;
border-radius:25px;
margin:2px;
}

.vidblock
{
display: block;
height: 210px;
border:2px solid #a1a1a1;
padding:5px 20px; 
background:#FFF5E6;
width:850px;
border-radius:25px;
margin:2px;
}

.shortwideblock
{
display: block;
height: 100px;
border:2px solid #a1a1a1;
padding:5px 20px; 
background:#FFF5E6;
width:850px;
border-radius:25px;
margin:2px;
}
.submissionblock
{
display: block;
height: 450px;
border:2px solid #a1a1a1;
padding:10px 30px; 
background:#FFF5E6;
width:830px;
border-radius:25px;
margin:2px;
}

.block
{
display: block;
height: 120px;
border:2px solid #a1a1a1;
padding:5px 20px; 
background:#FFF5E6;
width:850px;
border-radius:25px;
margin:2px;
}
#comp_text
{
float: left;
width: 400px;
margin-right:40px;
}